{% extends "common/index.html" %}

{% block content %}
    {#    {% for host in hostList %}#}
    {#        主机名:{{ host.hostname }} <br/>#}
    {#    {% endfor %}#}

    <div class="row clearfix">
        <div class="col-md-12 column">
            <button type="button" class="btn btn-default btn-success">新增</button>
            <button type="button" class="btn btn-default btn-danger">删除</button>
        </div>
    </div>

    <p> 列表</p>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>
                        主机名
                    </th>
                    <th>
                        地址
                    </th>
                    <th>
                        交付时间
                    </th>
                    <th>
                        状态
                    </th>
                </tr>
                </thead>


                <tbody>
                {% for host in hostList %}
                    <tr>
                        <td><input type="checkbox"/></td>
                        <td>
                            {{ host.hostname }}
                        </td>
                        <td>
                            {{ host.address }}
                        </td>
                        <td>
                            123
                        </td>
                        <td>
                            Default
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {#分页#}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="pagination">
                <li>
                    <a href="#">Prev</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}