{% extends "common/index.html" %}

{% block content %}
    {#    {% for host in hostList %}#}
    {#        主机名:{{ host.hostname }} <br/>#}
    {#    {% endfor %}#}

    <div class="row clearfix">
        <div class="col-md-12 column">
            <a href="/host/add"><button type="button" class="btn btn-default btn-success">新增</button></a>
            <button id="hostDelBtn" type="button" class="btn btn-default btn-danger">删除</button>
        </div>
    </div>

    <p> 列表</p>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>
                        主机名
                    </th>
                    <th>
                        地址
                    </th>
                    <th>
                        交付时间
                    </th>
                    <th>
                        状态
                    </th>
                </tr>
                </thead>


                <tbody>
                {% for host in hostList %}
                    <tr>
                        <td><input type="checkbox" name="hostCheckBox" data-hostId={{ host.id }} /></td>
                        <td>
                            {{ host.hostname }}
                        </td>
                        <td>
                            {{ host.address }}
                        </td>
                        <td>
                            123
                        </td>
                        <td>
                            Default
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {#分页#}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="pagination">
                <li>
                    <a href="#">Prev</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block scriptblock %}
<script>
    $(function () {
        $("#hostDelBtn").click(
                function () {
                    var hostIds = getHostIds();
                    if(hostIds == ""){
                        return;
                    }
                     location.href = '/host/del?ids='+hostIds;
                }
        )
    });


    function getHostIds() {
        var hostIds = "";
        var checkedList = document.getElementsByName("hostCheckBox");
        for(var host of checkedList){
            if(host.checked){
                hostIds += host.attributes["data-hostId"].value + ",";
            }
        }
        return hostIds;
    }
</script>
{% endblock %}
